<a href="https://colab.research.google.com/github/Sarthak-s2902/Python-files/blob/python/session_4_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [3]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
combine=[[item1,item2] for item1,item2 in zip(list1,list2)]
print(combine)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]
[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [6]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
new=list(zip(list1,list2))
print(new)
ans=[]
for i in new:
  ans.append(list(i))

print(ans)

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]
[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [12]:
# Write code here
list1=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
sublist=list1[2][2]
sublist.append(7000)
print(sublist)
print(list1)

[5000, 6000, 7000]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [13]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i in range(0,len(candy_list)):
  print(candy_list[i],'-',no_of_items[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [16]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
[print(f"{candy}-{count}") for candy,count in zip(candy_list,no_of_items)]

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

[None, None, None, None, None]

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [3]:
# Write code here
list1 = [1,2,3,4,5,6]
for i in range(1,len(list1)):
  list1[i]=list1[i-1]+list1[i]

print("The new running sum list is ",list1)

The new running sum list is  [1, 3, 6, 10, 15, 21]

In [12]:
list1 = [1,2,3,4,5,6]
print([sum(list1[:i+1]) for i in range(1,len(list1))])

[3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [19]:
# Write code here
list1=[2,4,6,10,1]
ans=[]
for i in range(0,len(list1)):
  sum=list1[i]
  for j in range(0,len(list1)):
    if list1[j]>list1[i]:
      sum=sum+list1[j]
  ans.append(sum)

print(ans)

[22, 20, 16, 10, 23]

In [21]:
# Using list comprehension
list1=[2,4,6,10,1]
ans=[sum(j for j in list1 if j>=i) for i in list1]
print(ans)

TypeError: 'int' object is not callable

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [26]:
ans=[number for number in num1 if number in num2]
print(sorted(ans))

[34, 67, 89]

In [25]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
ans=[]
for i in num1:
  if i in num2:
    ans.append(i)

ans=sorted(ans)
print(ans)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [35]:
# Write code here
list1=['1ac21', '23fg', '456', '098d','1','kls']
ans=[]
for element in list1:
  product=1
  for j in range(len(element)):
    if element[j].isdigit():
      product=product*int(element[j])
  ans.append(product)

newans=list(zip(ans,list1))
sorted_list=sorted(newans,key=lambda x:x[0],reverse=True)
finalans=[x[1] for x in sorted_list]
print(finalans)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [41]:
list1=['CampusX is a channel', 'for data-science', 'aspirants.']
ans=[]
for i in list1:
  for j in i.split():
    ans.append(j)

print(ans)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [37]:
# Write code here
list1=['CampusX is a channel', 'for data-science', 'aspirants.']
ans=[word for i in list1 for word in i.split()]
print(ans)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [47]:
# Write code here
list1=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
ans=''
for it in list1:
  for j in it:
    ans=ans+j
  ans=ans+" "

print(ans)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [51]:
# Code here
list1=['campusxIs', 'bestFor', 'dataScientist']
new=[]
for i in list1:
  ans=""
  for j in i:
    if j.isupper():
      ans=ans+" "+j
    else:
      ans=ans+j
  new.append(ans)

print(new)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [53]:
list1=[1,2,3,4,5,1]
list2=[2,3,5,7,8]
ans=[]
for i in list1:
  if i not in ans:
    ans.append(i)

for i in list2:
  if i not in ans:
    ans.append(i)

print(ans)

[1, 2, 3, 4, 5, 7, 8]

In [52]:
# Write code here
list1=[1,2,3,4,5,1]
list2=[2,3,5,7,8]
ans=list(set(list1+list2))
print(ans)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [54]:
# Write code here
list1=[[1,2,3],[4,5,6],[7,8,9]]
ans=[]
for iterator in list1:
  ans.append(max(iterator))

print(ans)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here